@import "src/variables";
$fa-font-path: "~font-awesome/fonts";
@import "../../node_modules/font-awesome/scss/font-awesome";


.header {
  position: relative;
  margin: auto;
  padding: 10px;
  color: #fff;
  background-color: $header-background;
  z-index: 5;
    .container{
      margin: auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-around;
      align-items: center;
      font-size: 18px;
      font-weight: 500;
      //max-width: 80vw;
      img {
        height: 70px;
        width: auto;

      }
  }
}

.phonenumber {
  color:#000
}

@media (max-width: $first-mediabreakpoint) {
  .container {
    width: 100vw;
  }
}
.btn-search {
    background-color: $fourth-color;
    border: solid $fifth-color;
    border-width: 0 0 2px 0;
    padding: 8px 32px 8px 13px;
    &::placeholder{
      font-size: 2em;
    }


  }

.search {
  position: relative;
}
.magnify{
  font-size: 1.2em;
  background-color: $fourth-color;
  color: #fff;
  border: 0;
  position: relative;
  left: -40px;

}