@import "src/variables";

.banner {
  min-height: 650px;
  background-image: url("banner.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  filter: invert(34%) sepia(46%) saturate(265%) hue-rotate(196deg) brightness(115%) contrast(122%) ;

}

