@import "src/variables";


.contact {
  width: 95%;
    display: flex;

  .contact-form {
    width: 60%;
    display: flex;
    flex-direction: column;
    ::placeholder{
      font-family: Raleway, sans-serif;

    }
    input, textarea {
      background-color: rgba(209, 210, 219, 0.37);
      border: 0;
      padding: 10px 10px;
      margin-bottom: 10px;
    }


      [type='submit'].disabled{
        background-color: $fifth-color;
        font-size: 1.2em;
        color: white;
        border: 0;
        width: 200px;
        margin-left: 0;

      }
    [type='submit'].enabled{
      background-color: $first-color;
      font-size: 1.2em;
      color: white;
      transition: 1s;
      border: 0;
      width: 200px;
      margin-left: 0;
      &:hover{
        background-color: $second-color;
      }

    }
    [name="message"]{
      height: 150px;
    }
  }
  .contact-data {
    color: $fifth-color;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 30px;
    p {
      text-align: left;
      line-height: 1.5em;
    }
    .contact-list{
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      line-height: 2em;
    }

  }

}

@media (max-width: $first-mediabreakpoint) {
  .contact {
    flex-direction: column;
    align-items: center;
    .contact-form, .contact-data{
      width: 95%;
    }
  }
}