@import "./src/variables";

.mobile-navbar{
  display: none;
}

.nav-btn{
  font-size: 25px;
  color: $first-color;
  background-color: #fff;
  padding: 4px;
  border: 0;
  //margin: 3px;
}

@media (max-width: $first-mediabreakpoint) {

  .mobile-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;

    .mobilenavi {
      width: 100%;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;

      li{
        width: 100%;
        padding: 7px;
      }

    }
  }
}

.mobilenavi li:first-child{
  background-color: $second-color;
}

.menuItem {
  display: block;
  text-align: center;

}
