@import "./src/variables";


.nav-btn{
  font-size: 25px;
  color: $first-color;
  background-color: #fff;
  padding: 0 50vw 0 50vw;
  border: 0;
  position: relative;
  z-index: 5;
}

@keyframes extend {

  to {
    max-height: 300px;
  }

}

@keyframes shrink {
  from {
    max-height: 308px;
  }

  to {
    max-height: 28px;
  }

}

@keyframes show {

  to {
    transform: translateY(0);
  }

}

@keyframes hide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-120%);
  }

}



@media (max-width: $first-mediabreakpoint) {

  .mobile-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    max-height: 28px;
    overflow: hidden;

    &.open {
      animation: extend;
      animation-duration: 2s;
      animation-fill-mode: forwards;

    }

    &.hidden {
      animation: shrink;
      animation-duration: 2s;
      animation-fill-mode: forwards;
    }

    .mobilenavi {
      width: 100%;
      transform: translateY(-120%);

      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;

      // Menu nasuwa się na content poniżej//
        //position: absolute;
        ///* top: -20px; */
        //margin-top: 28px;
        //background: white;



      &.hidden {
        animation: hide;
        animation-duration: 2s;
        animation-fill-mode: forwards;


      }

      &.open {
        animation: show;
        animation-duration: 2s;
        animation-fill-mode: forwards;
      }

      li{
        width: 100%;
        padding: 7px;


      }

    }

}}

.mobilenavi li:first-child{
  background-color: $second-color;
}

.menuItem {
  display: block;
  text-align: center;

}
