@import "./src/variables";

.mobile-navbar{
  display: none;
}

.nav-btn{
  font-size: 25px;
  color: $first-color;
  background-color: #fff;
  padding: 0 50vw 0 50vw;
  border: 0;
  //margin: 3px;
}

@keyframes show {
  from {
    transform: translateY(-100%);
  }

  to {
    transform: translateY(0);
  }

}

@keyframes hide {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-50%);
  }

}

@media (max-width: $first-mediabreakpoint) {

  .mobile-navbar {
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;

    .mobilenavi {
      width: 100%;
      transform: translateY(-100%);
      animation: show;
      animation-duration: 2s;
      animation-fill-mode: forwards;
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      position: relative;



      li{
        width: 100%;
        padding: 7px;

      }

    }
  }
}

.mobilenavi li:first-child{
  background-color: $second-color;
}

.menuItem {
  display: block;
  text-align: center;

}
