@import "variables";
//@import '~@fortawesome/fontawesome-free/scss/fontawesome';
//@import '~@fortawesome/fontawesome-free/scss/solid';

.gear {
  width: 100px;
  height: 100px;
  color: $second-color;
  padding: 10px 0;
}
.service {
  //border: 2px solid $third-color;
  height: 100%;

  h3 {
    font-family: Raleway, sans-serif;
    font-size: 2.5em;
    font-weight: 500;
    color: $first-color;
    margin: 0 0 2em;
  }

  .serviceButtons {
    border: 2px;
    width: 100%;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 0;

    h4{
      font-size: 1.3em;
      color: $fifth-color;
      transition: 1s;
      }


    a {
      width: 40%;
      height: 100% ;
      border: 2px solid $third-color;
      transition: 1s;
      &:hover{
        background-color: $first-color;
        h4 {
          color: #ffffff;
        }
      }
    }

  }
}