$fa-font-path: "../node_modules/font-awesome/fonts";

//Colors
$first-color: #3b5cd3;


$second-color: #FEA600;
$third-color: #dcdcdc;
$fourth-color: #B9B9B9;
$fifth-color: #a1a1a1;
$sixth-color: rgba(255, 193, 7, 0.66);

//Media breakpoints
$first-mediabreakpoint: 768px;


//Fonts and icons
$primary-font: Roboto, sans-serif;
$gear: '/media';
//Mixins
@mixin firstTransition() {
  transition-duration: 1s;
  transition-delay: 0.2s;
  transition-timing-function: ease-out;
}

//hamburger lines definition

@mixin hamburgerLine {
  width: 40px;
  height: 6px;
  border-radius: 6px;
  border: 0;
  position: absolute;
  background-color: black;
  transition: all .5s ease-in-out;
}


