@import "variables";
//@import "contact/Contact";
@import "exchangerates/exchangeRates";
@import "~react-image-gallery/styles/scss/image-gallery.scss";


html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}
body{
  font-family: $primary-font;
  padding-bottom: 50px;
}

.container{
  max-width: 1200px;
  margin: auto;
}

h5 {
  font-size: 20px;
}

a {
 text-decoration: none;
 color: #000;
}
ul {
  list-style: none;
}

//.App {
//  text-align: center;
//}


