@import "header";
@import "navi";
@import "banner";
@import "about";
@import "variables";
@import "services";
@import "gallery";
@import "Contact";
@import "exchangeRates";


html {
  scroll-behavior: smooth;
}

*{
  box-sizing: border-box;
}
body{
  font-family: $primary-font;
}

.container{
  max-width: 1200px;
  margin: auto;
}

h5 {
  font-size: 20px;
}

a {
 text-decoration: none;
 color: #000;
}
ul {
  list-style: none;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


